@model IEnumerable<GolfStatsCosmosDB.Models.Score>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List of Scores</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                Hole
            </th>
            <th>
                1
            </th>
            <th>
                2
            </th>
            <th>
                3
            </th>
            <th>
                4
            </th>
            <th>
                5
            </th>
            <th>
                5
            </th>
            <th>
                6
            </th>
            <th>
                7
            </th>
            <th>
                8
            </th>
            <th>
                9
            </th>
            <th>
                11
            </th>
            <th>
                12
            </th>
            <th>
                13
            </th>
            <th>
                14
            </th>
            <th>
                15
            </th>
            <th>
                16
            </th>
            <th>
                17
            </th>
            <th>
                18
            </th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
        <tr>
            <th>
            </th>
            <th b>
                Par
            </th>
            <th>
                4
            </th>
            <th>
                4
            </th>
            <th>
                4
            </th>
            <th>
                4
            </th>
            <th>
                4
            </th>
            <th>
                4
            </th>
            <th>
                3
            </th>
            <th>
                5
            </th>
            <th>
                4
            </th>
            <th>
                3
            </th>
            <th>
                4
            </th>
            <th>
                4
            </th>
            <th>
                4
            </th>
            <th>
                4
            </th>
            <th>
                4
            </th>
            <th>
                4
            </th>
            <th>
                4
            </th>
            <th>
                3
            </th>
            <th style="text-align: right;">Total</th>
            <th>&nbsp;</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>Score</td>
                @if (item.Hole1 > 4)
                {
                    <td style="background-color: red;">
                        @Html.DisplayFor(modelItem => item.Hole1)
                    </td>
                }
                else if (item.Hole1 < 4)
                {
                    <td style="background-color: yellow;">
                        @Html.DisplayFor(modelItem => item.Hole1)
                    </td>

                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Hole1)
                    </td>

                }

                @if (item.Hole2 > 4)
                {
                    <td style="background-color: red;">
                        @Html.DisplayFor(modelItem => item.Hole2)
                    </td>
                }
                else if (item.Hole2 < 4)
                {
                    <td style="background-color: yellow;">
                        @Html.DisplayFor(modelItem => item.Hole2)
                    </td>

                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Hole2)
                    </td>

                }

                @if (item.Hole3 > 4)
                {
                    <td style="background-color: red;">
                        @Html.DisplayFor(modelItem => item.Hole3)
                    </td>
                }
                else if (item.Hole3 < 4)
                {
                    <td style="background-color: yellow;">
                        @Html.DisplayFor(modelItem => item.Hole3)
                    </td>

                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Hole3)
                    </td>

                }

                @if (item.Hole4 > 4)
                {
                    <td style="background-color: red;">
                        @Html.DisplayFor(modelItem => item.Hole4)
                    </td>
                }
                else if (item.Hole4 < 4)
                {
                    <td style="background-color: yellow;">
                        @Html.DisplayFor(modelItem => item.Hole4)
                    </td>

                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Hole4)
                    </td>

                }

                @if (item.Hole5 > 4)
                {
                    <td style="background-color: red;">
                        @Html.DisplayFor(modelItem => item.Hole5)
                    </td>
                }
                else if (item.Hole5 < 4)
                {
                    <td style="background-color: yellow;">
                        @Html.DisplayFor(modelItem => item.Hole5)
                    </td>

                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Hole5)
                    </td>

                }

                @if (item.Hole6 > 4)
                {
                    <td style="background-color: red;">
                        @Html.DisplayFor(modelItem => item.Hole6)
                    </td>
                }
                else if (item.Hole6 < 4)
                {
                    <td style="background-color: yellow;">
                        @Html.DisplayFor(modelItem => item.Hole6)
                    </td>

                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Hole6)
                    </td>

                }



                @if (item.Hole7 > 3)
                {
                    <td style="background-color: red;">
                        @Html.DisplayFor(modelItem => item.Hole7)
                    </td>
                }
                else if (item.Hole7 < 3)
                {
                    <td style="background-color: yellow;">
                        @Html.DisplayFor(modelItem => item.Hole7)
                    </td>

                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Hole7)
                    </td>

                }

                @if (item.Hole8 > 5)
                {
                    <td style="background-color: red;">
                        @Html.DisplayFor(modelItem => item.Hole8)
                    </td>
                }
                else if (item.Hole8 < 5)
                {
                    <td style="background-color: yellow;">
                        @Html.DisplayFor(modelItem => item.Hole8)
                    </td>

                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Hole8)
                    </td>

                }

                @if (item.Hole9 > 4)
                {
                    <td style="background-color: red;">
                        @Html.DisplayFor(modelItem => item.Hole9)
                    </td>
                }
                else if (item.Hole9 < 4)
                {
                    <td style="background-color: yellow;">
                        @Html.DisplayFor(modelItem => item.Hole9)
                    </td>

                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Hole9)
                    </td>

                }

                @if (item.Hole10 > 3)
                {
                    <td style="background-color: red;">
                        @Html.DisplayFor(modelItem => item.Hole10)
                    </td>
                }
                else if (item.Hole10 < 3)
                {
                    <td style="background-color: yellow;">
                        @Html.DisplayFor(modelItem => item.Hole10)
                    </td>

                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Hole10)
                    </td>

                }

                @if (item.Hole11 > 4)
                {
                    <td style="background-color: red;">
                        @Html.DisplayFor(modelItem => item.Hole11)
                    </td>
                }
                else if (item.Hole11 < 4)
                {
                    <td style="background-color: yellow;">
                        @Html.DisplayFor(modelItem => item.Hole11)
                    </td>

                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Hole11)
                    </td>

                }

                @if (item.Hole12 > 4)
                {
                    <td style="background-color: red;">
                        @Html.DisplayFor(modelItem => item.Hole12)
                    </td>
                }
                else if (item.Hole12 < 4)
                {
                    <td style="background-color: yellow;">
                        @Html.DisplayFor(modelItem => item.Hole12)
                    </td>

                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Hole12)
                    </td>

                }

                @if (item.Hole13 > 4)
                {
                    <td style="background-color: red;">
                        @Html.DisplayFor(modelItem => item.Hole13)
                    </td>
                }
                else if (item.Hole13 < 4)
                {
                    <td style="background-color: yellow;">
                        @Html.DisplayFor(modelItem => item.Hole13)
                    </td>

                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Hole13)
                    </td>

                }

                @if (item.Hole14 > 4)
                {
                    <td style="background-color: red;">
                        @Html.DisplayFor(modelItem => item.Hole14)
                    </td>
                }
                else if (item.Hole14 < 4)
                {
                    <td style="background-color: yellow;">
                        @Html.DisplayFor(modelItem => item.Hole14)
                    </td>

                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Hole14)
                    </td>

                }


                @if (item.Hole15 > 4)
                {
                    <td style="background-color: red;">
                        @Html.DisplayFor(modelItem => item.Hole15)
                    </td>
                }
                else if (item.Hole15 < 4)
                {
                    <td style="background-color: yellow;">
                        @Html.DisplayFor(modelItem => item.Hole15)
                    </td>

                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Hole15)
                    </td>

                }

                @if (item.Hole16 > 4)
                {
                    <td style="background-color: red;">
                        @Html.DisplayFor(modelItem => item.Hole16)
                    </td>
                }
                else if (item.Hole16 < 4)
                {
                    <td style="background-color: yellow;">
                        @Html.DisplayFor(modelItem => item.Hole16)
                    </td>

                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Hole16)
                    </td>

                }

                @if (item.Hole17 > 4)
                {
                    <td style="background-color: red;">
                        @Html.DisplayFor(modelItem => item.Hole17)
                    </td>
                }
                else if (item.Hole17 < 4)
                {
                    <td style="background-color: yellow;">
                        @Html.DisplayFor(modelItem => item.Hole17)
                    </td>

                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Hole17)
                    </td>

                }
                @if (item.Hole18 > 3)
                {
                    <td style="background-color: red;">
                        @Html.DisplayFor(modelItem => item.Hole18)
                    </td>
                }
                else if (item.Hole18 < 3)
                {
                    <td style="background-color: yellow;">
                        @Html.DisplayFor(modelItem => item.Hole18)
                    </td>

                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Hole18)
                    </td>

                }
                <td style="text-align: right;">
                    @Html.DisplayFor(modelItem => item.Total)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
